.InputWrapper {
  display: flex;
  justify-content: space-between;
}

.readonly {
  opacity: 0.7;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
