.app.dark {
  --bg-color: #03038b;
  --inverted-bg-color: #e1e1e3;
  --pimary-color: #039103;
  --secondary-color: #05f505;
  --inverted-pimary-color: #0d1e9b;
  --inverted-secondary-color: #062ef5;
}
