.app.light {
  --bg-color: #e1e1e3;
  --inverted-bg-color: #03038b;

  --pimary-color: #04105e;
  --secondary-color: #425198;

  --inverted-pimary-color: #039103;
  --inverted-secondary-color: #05f505;
}