.ProfileCard {
  padding: 20px;
  border: 1px solid var(--inverted-bg-color);

  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }

  .data {
    padding: 5px 0;
    width: 30%;
  }

  .input {
    margin-top: 10px;
  }
}
